.shade {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    z-index: -1000;
}

.wrap-ms-right {
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 0;
    min-width: 80px;
    margin: 0;
    display: none;
    font-family: "微软雅黑";
    font-size: 14px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.ms-item {
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.ms-item:hover {
    background-color: #343a40;
    color: #FFFFFF;
}

/*以西根据实际情况*/
body {
    overflow: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.div1 {
    position: fixed;
    display: inline-block;
    background-color: white;
    width: 100%;
    height: 120px
}

.div-content{
    position: fixed;
    display: inline-block;
    background-color: white;
    width: 100%;
    height: 100%;
}

.div1 a {
    display: block
}