<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>分享锁</title>
    <link href="/css/share.css" type="text/css" rel="stylesheet"/>
</head>
<body style="background-color: #9992;">
<div class="docs init-docs" id="">
    <div class="acss-header" id="dekQOGG">
        <div class="acss_banner"></div>
        <div class="verify-form">
            <form action="" id="clearfix" class="clearfix" name="accessForm">
                <div class="CMxQsC">
                    <div class="avatar">
                        <div class="photo-frame">
                            <a href="//yun.baidu.com/buy/center?tag=8&amp;from=sicon"
                               class="v-icon unvip-icon"><em></em></a>
                            <span class="radius-3"><img alt="" src="" width="44"></span>
                        </div>
                    </div>
                    <span class="verify-property"><strong>喵*01</strong>给您加密分享了文件</span>
                    <div class="cb"></div>
                </div>
                <div class="verify-input ac-close clearfix">
                    <dl class="pickpw clearfix">
                        <dt>
                            请输入提取密码：
                        </dt>
                        <dd class="clearfix">
                            <input type="hidden" th:value="${shareId}" id="shareId" style="display: none">
                            <input class="QKKaIE LxgeIt" id="fkbQ5Wq" name="password" tabindex="1" type="text">
                            <div id="uivs0k6Q"><a class="g-button g-button-blue-large" data-button-id="b1"
                                                  data-button-index="" href="javascript:;" title="提取文件"><span
                                    class="g-button-right"><span class="text"
                                                                 style="width: auto;">提取文件</span></span></a></div>
                        </dd>
                    </dl>
                </div>
            </form>
            <div id="lgscQ850" style="display: block;"></div>
        </div>
    </div>
    <div class="cloud-bg">
        <div class="bg1"></div>
        <div class="bg2"></div>
        <div class="bg3"></div>
    </div>
</div>
<script src="/js/jquery/jquery.min.js"></script>
<script src="/js/share.js"></script>
</body>
</html>